<!-- Contact section start -->
<div class="contact-section overview-bgi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form content box start -->
                <div class="form-content-box">
                    <!-- Logo-->
                    <a href="index.html">
                        <img src="assets/img/logos/white-logo.png" class="cm-logo" alt="black-logo">
                    </a>
                    <!-- details -->
                    <div class="details">
                        <!-- Name -->
                        <h3>Crear una cuenta</h3>
                        <!-- Form start-->
                        <form action="index.html" method="GET">
                            <div class="form-group">
                                <input type="text" name="fullname" class="input-text" placeholder="Nombre Completo">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="input-text" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="input-text" placeholder="Contraseña">
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirm_Password" class="input-text" placeholder="Confirmar contraseña">
                            </div>
                            <div class="form-group " style="text-align:left">

                                <div class="checkbox checkbox-primary p-t-0 left">
                                    <input id="checkbox-signup" type="checkbox">
                                    <label for="checkbox-signup" style="margin-left: 5px"> Estoy de acuerdo con los  <a href="#">Términos</a></label>
                                </div>

                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn-md button-theme btn-block">Registrarme</button>
                            </div>
                        </form>
                        <!-- Form end-->
                    </div>
                    <!-- Footer -->
                    <div class="footer">
                        <span>
                            Eres miembro? <a href="login.html">Inicar sesión</a>
                        </span>
                    </div>
                </div>
                <!-- Form content box end -->
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="index.html#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>